[submodule "build/buildroot"]
	path = build/buildroot
	url = https://github.com/buildroot/buildroot.git
	branch = 2025.08.x
[submodule "build/linux-stable"]
	path = build/linux-stable
	url = https://github.com/SolidRun/linux-stable.git
	branch = rz-6.1-vlp-4.0.0-sr
	shallow = true
[submodule "build/rswlan"]
	path = build/rswlan
	url = https://github.com/SolidRun/rswlan.git
	branch = develop
[submodule "build/rzg_trusted-firmware-a"]
	path = build/rzg_trusted-firmware-a
	url = https://github.com/SolidRun/arm-trusted-firmware
	branch = v2.9/rz-sr
[submodule "build/u-boot"]
	path = build/u-boot
	url = https://github.com/SolidRun/u-boot.git
	branch = v2021.10/rz-vlp-4.0.0-sr
[submodule "build/cyw-fmac"]
	path = build/cyw-fmac
	url = https://github.com/SolidRun/cyw-fmac.git
	branch = imx-kirkstone-jaculus
